<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Facture</h1>
        <span class="tag is-medium">
          Name
        </span>
        <input #nameInput class="input has-background-light is-medium" type="text" value="{{facture.totalHT}}" placeholder="Type here ...">
        <span class="tag is-medium">
          Adress
        </span>
        <input #adressInput class="input has-background-light is-medium" type="text" value="{{facture.total_TVA}}" placeholder="Type here ...">
        <span class="tag is-medium">
          Email
        </span>
        <input #emailInput class="input has-background-light is-medium" type="email" value="{{facture.total_TTC}}" placeholder="Type here ...">
        <span class="tag is-medium">
          telephone
        </span>
        <input #telInput class="input has-background-light is-medium" type="date" [value]="facture.date" placeholder="Type here ...">


        <br><br>

    </div>
</div>