<div class="centered-content">
    <div class="white-box">
        <div class="field">
            <p class="control">
                <button class="button is-primary is-large has-text-white is-fullwidth" routerLink="/produits">
                  gérer les produits</button>

            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-primary is-large has-text-white is-fullwidth" routerLink="/fournisseurs">
                  gérer les fournisseurs</button>

            </p>
        </div>
    </div>
</div>