<div class="centered-content">
    <div class="task-manager-container">
        <div class="task-produit-container has-background-light">
            <div>
                <div class="top-bar">
                    <h1 class="title has-text-primary">Fournisseur</h1>
                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                <span class="icon is-small">
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </span>
              </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">

                                <a class="dropdown-item has-text-danger"> Log out </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Task Elements -->
                <div class="task">
                    <div class="task-text">
                        <p>test</p>
                    </div>
                    <div class="task-buttons">
                        <button class="button">
              <div class="icon">
                <i class="fas fa-edit"></i>
              </div>
            </button>

                        <button class="button is-danger" style="margin-left: 10px">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>
                    </div>
                </div>


                <button routerLink="./new-task" class="circle-add-button button is-primary">
          <img src="../../../assets/icons8-search.svg" class="has-text-white" />
        </button>

            </div>
            <button class="button is-primary has-text-white" routerLink="/new-produit">
        + New fournisseur
      </button>
            <br>

        </div>
    </div>
</div>
