<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">Create a new Produit</h1>
        <span class="tag is-medium">
          Name
        </span>
        <input #nameInput class="input has-background-light is-medium" type="text" placeholder="Type here ...">
        <span class="tag is-medium">
          Description
        </span>
        <input #descriptionInput class="input has-background-light is-medium" type="text" placeholder="Type here ...">
        <span class="tag is-medium">
          Price
        </span>
        <input #priceInput class="input has-background-light is-medium" type="number" placeholder="Type here ...">
        <span class="tag is-medium">
          Date
        </span>
        <input #dateInput class="input has-background-light is-medium" type="date" placeholder="Type here ...">
        <span class="tag is-medium">
          Categorie
        </span>
        <input #categorieInput class="input has-background-light is-medium" type="number" placeholder="Type here ...">
        <div class="select">
            <select name="categorie" id="cat">
            <option *ngFor="let categorie of categories" value="{{categorie.idCateg}}">{{categorie.libCateg}}</option>
          </select>
        </div>

        <br><br>
        <div class="buttons is-right">
            <div class="button is-medium" routerLink="/">Cancel</div>
            <div class="button is-primary has-text-white is-medium" (click)="saveProduit(nameInput.value,priceInput.valueAsNumber,descriptionInput.value,dateInput.value,categorieInput.valueAsNumber)">Create</div>
        </div>
    </div>
</div>